<p>Tri-state checkbox demo</p>


<div data-ng-repeat="person in model.people" class="person">
    <label>
        <!-- http://stackoverflow.com/questions/16589853/ng-app-vs-data-ng-app-what-is-the-difference -->
        <input type="checkbox" data-indeterminate-checkbox data-child-list="person.fruits" data-property="eaten"
               data-ng-model="person.allEaten"> {{person.name}} [All eaten: {{person.allEaten}}]
    </label>

    <div multi-check-group>
        <div data-ng-repeat="fruit in person.fruits" class="child-list">
            <label>
                <input type="checkbox" multi-check data-ng-model="fruit.eaten"> {{fruit.type}}
            </label>
        </div>
    </div>
</div>
